@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="index_div">

    <div class="advertise">

        <div class="ad_name">Front-End Developer</div>
        <div class="vacancy">95 vacancies</div>
        <div class="mode_salary">
            <div class="salary">₹3.2 lakh p.a</div>
            <div class="mode">Full time</div>

        </div>
        <div class="description">
            Hiring HTML/Front end developer
            Deep Knowledge in CSS,HTML
            Knowledge in the Bootstrap framework ( 4 & above)
            Knowledge in Javascript & jQuery
            Basic Knowledge in WordPress
            Basic Knowledge in Photoshop, XD, Figma & illustrator.
            Work experiences both full conversion & theme customization.
            Freshers can also apply.
        </div>
        <div class="apply"><a href="/Apply">Apply</a></div>


    </div>
    <div class="advertise">

        <div class="ad_name">Web Developer</div>
        <div class="vacancy">229 vacancies</div>
        <div class="mode_salary">
            <div class="salary">₹2.2 lakh p.a</div>
            <div class="mode">Remote</div>

        </div>
        <div class="description">
            We are looking for dynamic professionals on full time basis as Front End Developers who have sound
            knowledge of Web Design and Front End Development using HTML/CSS/JS, WordPress, React/Vue.

            Freshers as well as experienced candidates may apply. Preference will be given to the candidates
            with 1+ years experience.
        </div>
        <div class="apply"><a href="/Apply">Apply</a></div>


    </div>
    <div class="advertise">

        <div class="ad_name">Tech Traniee</div>
        <div class="vacancy">15 vacancies</div>
        <div class="mode_salary">
            <div class="salary">₹2 lakh p.a</div>
            <div class="mode">Day Shift</div>

        </div>
        <div class="description">
            We are seeking a Tech Trainee to join our team at FuelBuddy. As a Tech Trainee, you will have the
            opportunity to learn and grow in a fast-paced and innovative environment. This is a great
            opportunity for someone who is passionate about technology and looking to kickstart their career in
            the tech industry. The role is based in Gurgaon, Haryana, India and is an internship position.
        </div>
        <div class="apply"><a href="/Apply">Apply</a></div>


    </div>
    <div class="advertise">

        <div class="ad_name">Python / Django Developer</div>
        <div class="vacancy">45 vacancies</div>
        <div class="mode_salary">
            <div class="salary">₹4.2 lakh p.a</div>
            <div class="mode">Full time</div>

        </div>
        <div class="description">
            You can do work as a part time in your free time hourly basis. We pay hourly basis. You should have
            skills and experience in all topics of our syllabus. Visit technomaster.in for syllabus and course
            details . Python expert with knowledge of Django Web Framework Familiarity with some ORM libraries
            Strong understanding of front-end technologies such as Javascript, HTML5, CSS3 and Bootstrap.
            Freshers and veterans can apply.. Please do not call/whatsapp to any of our company mobile(s). Apply
            through our website
        </div>
        <div class="apply"><a href="/Apply">Apply</a></div>


    </div>
    <div class="advertise">

        <div class="ad_name">PHP developer</div>
        <div class="vacancy">88 vacancies</div>
        <div class="mode_salary">
            <div class="salary">₹6 lakh p.a</div>
            <div class="mode">Full time</div>

        </div>
        <div class="description">
            The ideal candidate will be a self starter with a high focus on writing clean and efficient code.
            You will be responsible for improving the code-base of the company's products in meaningful ways.
            They should also be experienced in contributing to the whole software design lifecycle. Candidate
            should be willing to take lead in defining the architectural direction of the product.
        </div>
        <div class="apply"><a href="/Apply">Apply</a></div>


    </div>
    <div class="advertise">

        <div class="ad_name">React Native Developer</div>
        <div class="vacancy">25 vacancies</div>
        <div class="mode_salary">
            <div class="salary">₹7.2 lakh p.a</div>
            <div class="mode">UK shift</div>

        </div>
        <div class="description">
            Required Minimum 2 Years of React.JS experience.
            Good Knowledge in React Hooks, Redux Toolkit, React Typescript,NEXTjs.
            React Native (added bonus).
            Create a flexible and organized front-end architecture with the aid of APIs.
            Proficient JavaScript/Typescript programmer.
            Experience with CSS3 / React Material UI, BootStrap UI.
            Should have strong knowledge in JSON concepts.
            Experience in intensive real-time Applications and web-socket technologies.
            Knowledge of token-based authentication (Rest, JWT, OAuth)
            GIT expertise is a must.
        </div>
        <div class="apply"><a href="/Apply">Apply</a></div>


    </div>
    <div class="advertise">

        <div class="ad_name">Back-End Developer</div>
        <div class="vacancy">95 vacancies</div>
        <div class="mode_salary">
            <div class="salary">₹8 lakh p.a</div>
            <div class="mode">Full time</div>

        </div>
        <div class="description">
            Hiring HTML/Front end developer
            Deep Knowledge in CSS,HTML
            Knowledge in the Bootstrap framework ( 4 & above)
            Knowledge in Javascript & jQuery
            Basic Knowledge in WordPress
            Basic Knowledge in Photoshop, XD, Figma & illustrator.
            Work experiences both full conversion & theme customization.
            Freshers can also apply.
        </div>
        <div class="apply"><a href="/Apply">Apply</a></div>


    </div>




</div>

